:root {
	--discordify-width: 400px;

	--discordify-font-color: #ffffff;
	--discordify-font-color-alt: #ababab;

	--discordify-bg: #212121;
	--discordify-bg-alt: #111111;
	--discordify-navbar-bg: #181818;
	--discordify-navbar-bg-alt: #282828;
	--discordify-highlight: #2a2a2a;

	--discordify-playbackBar-bg: #535353;

	--discordify-btn-color: #b3b3b3;
	--discordify-btn-color-alt: #333333;
	--discordify-btn-color-hover: #ffffff;
	--discordify-btn-color-active: #1db954;
}

#discordifyBtn {
	background: none;
	padding: 0;
	margin: 0;
	outline: none;
	position: relative;
	margin-right: 6px;

	#discordifyBtnTooltip {
		visibility: hidden;
		position: absolute;
		left: 50%;
		bottom: -8px;
		transform: translate(-50%, 100%);
	}

	svg {
		* {
			fill: var(--interactive-normal);
		}
	}

	&:hover {
		svg * {
			fill: var(--interactive-hover);
		}
		#discordifyBtnTooltip {
			visibility: visible;
		}
	}
}

#discordSpotifySidebar {
	width: var(--discordify-width);
	min-width: var(--discordify-width);
	height: 100%;
	box-sizing: border-box;
	color: var(--discordify-btn-color);
	position: relative;

	#discordSpotifyInner {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 100%;
	}

	* {
		box-sizing: border-box;
	}

	.titleText {
		color: var(--discordify-font-color);
		font-size: 24px;
		font-weight: 700;
		letter-spacing: -0.04em;
		line-height: 28px;
		text-transform: none;
		text-align: left;
		width: 100%;
		height: fit-content;
	}
	.headerText {
		color: var(--discordify-font-color-alt);
		font-weight: 600;
		display: block;
		width: 100%;
	}

	.round {
		border-radius: 50% !important;
	}

	.grid {
		background: linear-gradient(
			110deg,
			var(--discordify-bg-alt),
			var(--discordify-bg) 75%
		);
		align-items: flex-start;
		padding: 12px;
		display: flex;
		flex-shrink: 1;
		flex-grow: 1;
		flex-basis: 0;
		flex-wrap: wrap;
		gap: 8px;
		overflow-y: auto;

		.gridBox {
			background-color: var(--discordify-navbar-bg);
			border-radius: 6px;
			padding: 12px;
			flex-shrink: 1;
			flex-grow: 1;
			max-width: calc(50% - 4px);
			height: fit-content;

			&:hover {
				background-color: var(--discordify-highlight);

				.playlistArtwork {
					&:before {
						visibility: visible;
					}
				}
			}

			&:last-of-type {
				margin-right: auto;
			}

			&.queueBox {
				width: 100%;
				max-width: 100%;
				background: none;
				display: grid;
				grid-template-columns: [index] 16px [first] 3fr [var1] 2fr [last];
				align-items: center;

				&:hover {
					background-color: var(--discordify-highlight);
				}

				h1,
				h2,
				h3,
				h4 {
					max-width: calc(var(--discordify-width) / 4);
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				h4 {
					grid-column: last;
				}

				.songInfo {
					display: flex;
					flex-wrap: nowrap;
					flex-direction: row;
					line-height: 21px;
					align-items: center;
					gap: 12px;

					.songExtraInfo {
						flex-direction: column;
					}
				}

				.playlistArtwork {
					width: 42px;
					border-radius: 2px;
					margin-bottom: 0;

					&::before {
						visibility: hidden !important;
					}
				}
			}

			&.wideBox {
				max-width: 100%;
				flex-basis: 100%;
				background: linear-gradient(135deg, #470cf5, #8d8ce5);
				h1 {
					font-size: 16pt;
					font-weight: 600;
					margin-bottom: 12px;
				}
				h2 {
					color: var(--discordify-font-color);
				}
				.playlistArtwork {
					max-width: 100%;
					max-height: 100px;
					visibility: hidden;
					&:after {
						padding-bottom: 50%;
					}
				}
			}

			.playlistArtwork {
				position: relative;
				width: 100%;
				border-radius: 4px;
				max-width: 180px;
				max-height: 180px;
				background: var(--discordify-btn-color);
				margin-bottom: 16px;

				&:before {
					visibility: hidden;
					border-radius: 50%;
					content: '';
					display: block;
					position: absolute;
					width: 25%;
					height: 25%;
					min-width: 30px;
					min-height: 30px;
					max-width: 45px;
					max-width: 45px;
					bottom: 6px;
					right: 6px;
					background-color: var(--discordify-btn-color-active);
					box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 8px,
						rgba(0, 0, 0, 0.15) 2px 2px 4px;
				}

				&:after {
					content: '';
					display: block;
					padding-bottom: 100%;
				}
			}
			h1 {
				color: var(--discordify-font-color);
				margin-bottom: 8px;
			}
			h2 {
				color: var(--discordify-font-color-alt);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	#navbar {
		padding: 12px;
		background-color: var(--discordify-bg-alt);

		.pillRow {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			gap: 8px;
			width: 100%;

			.pill {
				padding: 12px;
				border-radius: 8px;
				color: var(--discordify-font-color);
				font-weight: 500;

				&.select,
				&:hover {
					cursor: pointer;
					background-color: var(--discordify-btn-color-alt);
				}
			}

			#discordifySearch {
				width: 40px;
				height: 40px;
				align-self: center;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: auto;

				svg {
					width: 17px;
					height: 17px;
					* {
						fill: var(--discordify-font-color-alt);
					}
				}

				&:hover {
					cursor: pointer;
					background-color: var(--discordify-btn-color-alt);

					svg * {
						fill: var(--discordify-font-color);
					}
				}
			}
		}
	}

	#playbackControls {
		text-align: center;
		border-top: solid 1px #404040;
		background-color: var(--discordify-navbar-bg);
		width: var(--discordify-width);
		height: fit-content;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 12px;
		padding-right: 12px;

		.row {
			margin-bottom: 12px;
			margin-left: 30px;
			margin-right: 30px;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			gap: 8px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		#songInformation {
			#currentArtwork {
				width: calc(var(--discordify-width) - (var(--discordify-width) * 0.45));
				height: calc(var(--discordify-width) - (var(--discordify-width) * 0.45));
				max-width: 300px;
				max-height: 300px;
				background-color: var(--discordify-btn-color);
				margin-bottom: 8px;
				border-radius: 8px;
				background-size: 100%;
			}

			#compactBtn {
				background-color: var(--discordify-btn-color);
				border-radius: 50%;
				display: none;

				svg * {
					fill: var(--discordify-navbar-bg);
				}

				&:hover {
					background-color: var(--discordify-btn-color-hover);
				}
			}

			#currentArtist,
			#currentSong {
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: calc(var(--discordify-width) - 48px);
			}
			#currentSong {
				color: var(--discordify-btn-color-hover);
			}
			#currentArtist {
				margin-bottom: 12px;
			}
		}

		&.compact {
			#songInformation {
				display: flex;
				margin-left: auto;
				margin-right: auto;
				width: 85%;
				margin-bottom: 24px;
				border-bottom: solid 1px #404040;

				#compactBtn {
					margin-left: auto;
					margin-right: 8px;

					display: block;

					svg {
						transform: rotate(180deg);
					}
				}

				.row {
					margin-left: 0;
					margin-right: 0;
				}

				#currentArtwork {
					width: 40px;
					height: 40px;
					margin-right: 18px;
					margin-left: 8px;
					border-radius: 2px;
				}
				#songDetails {
					p {
						max-width: calc(var(--discordify-width) / 2 - 48px);
					}
					.row {
						display: block;
						text-align: left;
					}
				}
			}

			#volumeLevel {
				display: none;
			}
		}

		button {
			position: relative;
			width: 35px;
			max-width: 35px;
			height: 35px;
			max-height: 35px;
			font-size: 0;
			background: none;

			svg {
				width: 15px;
				height: 15px;

				* {
					fill: #b3b3b3;
				}
			}

			&:hover {
				svg * {
					fill: var(--discordify-btn-color-hover);
				}
			}
			&.active {
				svg * {
					fill: var(--discordify-btn-color-active);
				}
			}

			&#shuffle.active,
			&#loop.active {
				&::after {
					content: '';
					min-width: 4px;
					min-height: 4px;
					border-radius: 50%;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					background: var(--discordify-btn-color-active);
				}
				&.mode2::before {
					font-size: 8pt;
					font-weight: 600;
					color: var(--discordify-navbar-bg);
					border: 2px solid var(--discordify-navbar-bg);
					content: '1';
					min-width: 14px;
					min-height: 14px;
					border-radius: 50%;
					position: absolute;
					top: 0;
					right: -5px;
					transform: translateX(-50%);
					background: var(--discordify-btn-color-active);
				}
			}
			&#muteBtn {
				svg {
					width: 19px;
					height: 19px;
				}
			}
			&#playPause {
				width: 45px;
				max-width: 45px;
				height: 45px;
				max-height: 45px;
				border-radius: 50%;
				transition: transform 0.05s ease;
				background: var(--discordify-btn-color);

				svg * {
					fill: var(--discordify-navbar-bg);
				}

				&:hover {
					background-color: var(--discordify-btn-color-hover);
					transform: scale(1.1);
				}
			}
		}
	}
}
