:root {
	--discordify-width: 400px;

	--discordify-font-color: #ffffff;

	--discordify-bg: #212121;
	--discordify-bg-alt: #111111;
	--discordify-navbar-bg: #181818;

	--discordify-playbackBar-bg: #535353;

	--discordify-btn-color: #b3b3b3;
	--discordify-btn-color-alt: #333333;
	--discordify-btn-color-hover: #ffffff;
	--discordify-btn-color-active: #1db954;
}

#discordifyBtn {
	background: none;
	padding: 0;
	margin: 0;
	outline: none;
	position: relative;
	margin-right: 6px;

	#discordifyBtnTooltip {
		visibility: hidden;
		position: absolute;
		left: 50%;
		bottom: -8px;
		transform: translate(-50%, 100%);
	}

	svg {
		* {
			fill: var(--interactive-normal);
		}
	}

	&:hover {
		svg * {
			fill: var(--interactive-hover);
		}
		#discordifyBtnTooltip {
			visibility: visible;
		}
	}
}

#discordSpotifySidebar {
	width: var(--discordify-width);
	min-width: var(--discordify-width);
	box-sizing: border-box;
	background: linear-gradient(0deg, var(--discordify-bg), var(--discordify-bg-alt));
	padding: 12px;
	color: var(--discordify-btn-color);
	position: relative;

	* {
		box-sizing: border-box;
	}

	.pillRow {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 8px;

		.pill {
			padding: 12px;
			border-radius: 8px;
			color: var(--discordify-font-color);
			font-weight: 500;

			&.select,
			&:hover {
				cursor: pointer;
				background-color: var(--discordify-btn-color-alt);
			}
		}
	}

	#navbar {
		text-align: center;
		border-top: solid 1px #404040;
		background-color: var(--discordify-navbar-bg);
		position: fixed;
		bottom: 0;
		right: 0;
		width: var(--discordify-width);
		height: fit-content;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 12px;
		padding-right: 12px;

		.row {
			margin-bottom: 12px;
			margin-left: 30px;
			margin-right: 30px;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			gap: 8px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		#currentArtwork {
			width: calc(var(--discordify-width) - (var(--discordify-width) * 0.333));
			height: calc(var(--discordify-width) - (var(--discordify-width) * 0.333));
			background-color: var(--discordify-btn-color);
			margin-bottom: 8px;
			border-radius: 8px;
		}

		#currentArtist,
		#currentSong {
			margin: 0;
		}
		#currentSong {
			color: var(--discordify-btn-color-hover);
		}
		#currentArtist {
			margin-bottom: 12px;
		}

		.progressBarRow {
			padding-top: 8px;
			padding-bottom: 8px;

			p {
				margin: 0;
			}

			.progressBar {
				position: relative;
				border-radius: 100px;
				width: 100%;
				height: 5px;
				background-color: var(--discordify-playbackBar-bg);

				.progressKnob {
					visibility: hidden;
					border-radius: 50%;
					background-color: var(--discordify-btn-color-hover);
					box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
					width: 15px;
					height: 15px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 65%;
				}

				.progressBarInner {
					border-radius: 100px;
					height: 100%;
					width: 65%;
					background-color: var(--discordify-btn-color);
				}
			}

			&:hover {
				.progressBar {
					.progressBarInner {
						background-color: var(--discordify-btn-color-active);
					}
					.progressKnob {
						visibility: visible;
					}
				}
			}
		}
		#volumeLevel .progressBar {
			width: 70%;
		}

		button {
			position: relative;
			width: 35px;
			max-width: 35px;
			height: 35px;
			max-height: 35px;
			font-size: 0;
			background: none;

			svg {
				width: 15px;
				height: 15px;

				* {
					fill: #b3b3b3;
				}
			}

			&:hover {
				svg * {
					fill: var(--discordify-btn-color-hover);
				}
			}
			&.active {
				svg * {
					fill: var(--discordify-btn-color-active);
				}
			}

			&#shuffle.active,
			&#loop.active {
				&::after {
					content: '';
					min-width: 4px;
					min-height: 4px;
					border-radius: 50%;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					background: var(--discordify-btn-color-active);
				}
				&.mode2::before {
					font-size: 8pt;
					font-weight: 600;
					color: var(--discordify-navbar-bg);
					border: 2px solid var(--discordify-navbar-bg);
					content: '1';
					min-width: 14px;
					min-height: 14px;
					border-radius: 50%;
					position: absolute;
					top: 0;
					right: -5px;
					transform: translateX(-50%);
					background: var(--discordify-btn-color-active);
				}
			}
			&#muteBtn {
				svg {
					width: 19px;
					height: 19px;
				}
			}
			&#playPause {
				width: 45px;
				max-width: 45px;
				height: 45px;
				max-height: 45px;
				border-radius: 50%;
				transition: transform 0.05s ease;
				background: var(--discordify-btn-color);

				svg * {
					fill: var(--discordify-navbar-bg);
				}

				&:hover {
					background-color: var(--discordify-btn-color-hover);
					transform: scale(1.1);
				}
			}
		}
	}
}
