name: Deploy auth-site
on:
    push:
        branches:
            - auth-site
jobs:
    build:
        name: Build Snowpack Site
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: '12.x'
            - name: Install dependencies
              run: pnpm i
            - name: Build
              run: pnpm build
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.ACCESS_TOKEN }}
                  publish_dir: ./build
